.Rproj.user
.Rhistory
.RData
.Ruserdata

Code/Revisions_NCC_v1.R
Code/Revisions_NCC_v2.R
Data/afsis.qs
Data/Climate_SSA_14C_sum.csv
Data/ClimateZones/KG_present_legend.csv
Data/WRB_SSA_14C_sum.csv
Figures/AfSIS_14C_2dDens_Spectra_AllRef14C_prep.jpeg
Figures/AfSIS_14C_ClayMinerals_Arid_BOT.jpeg
Figures/AfSIS_14C_ClayMinerals_Arid_TOP.jpeg
Figures/AfSIS_14C_Figure2.svg
Figures/AfSIS_14C_Figure2_adj.png
Figures/AfSIS_14C_Figure2_adj.svg
Figures/AfSIS_14C_Figure4.svg
Figures/AfSIS_14C_Figure4_1.jpeg
Figures/AfSIS_14C_Figure4_2.jpeg
Figures/AfSIS_14C_Figure4_3.jpeg
Figures/AfSIS_14C_Figure4_adj.png
Figures/AfSIS_14C_Figure4_adj.svg
Figures/AfSIS_14C_Figure4_new_1.jpeg
Figures/AfSIS_14C_FigureA5.jpeg
Figures/AfSIS_14C_FigureA8.svg
Figures/AfSIS_14C_FigureA8_adj.png
Figures/AfSIS_14C_FigureA8_adj.svg
Figures/AfSIS_14C_ISRaD_map.jpeg
Figures/AfSIS_14C_PCA_Spectra_AllRef14C.jpeg
Figures/AfSIS_14C_PCA_Spectra_AllRef14C_prep.jpeg
Figures/AfSIS_14C_PCA_Spectra_Ref14C.jpeg
Figures/AfSIS_14C_PCA_Spectra_Ref14C_AllRef14C.jpeg
Figures/AfSIS_14C_pH_clay2um_MAP_SSA_AfSIS_30m.jpeg
Figures/AfSIS_14C_pH_clay_MAP_SSA_AfSIS.jpeg
Figures/AfSIS_14C_pH_clay_MAP_SSA_AfSIS_30m.jpeg
Figures/AfSIS_14C_RF_all_PDP.jpeg
Figures/AfSIS_14C_RT_all.jpeg
Figures/AfSIS_14C_SamplingDens_bar.jpeg
Figures/AfSIS_14C_SamplingDens_BarMap.jpeg
Figures/AfSIS_14C_SamplingDensPro_bar.jpeg
Figures/AfSIS_14C_SamplingDistribution.jpeg
Figures/AfSIS_14C_SamplingDistribution_GPP_global.jpeg
Figures/AfSIS_14C_SamplingDistribution_GPP_MAP_MAT_global.jpeg
Figures/AfSIS_14C_SamplingDistribution_GPP_MAP_MAT_pH_SSA_violin.jpeg
Figures/AfSIS_14C_SamplingDistribution_SSA.jpeg
Figures/AfSIS_14C_SamplingDistribution_SSA_30m.jpeg
Figures/AfSIS_14C_SamplingDistribution_SSA_clay2um_30m.jpeg
Figures/AfSIS_14C_SSA_MAP_pH.jpeg
Figures/AfSIS_14C_SSA_pH_MAT.jpeg
Figures/AfSIS_14C_SSA_violion_GPP_MAP_MAT_pH.jpeg
Figures/ClayMap_rdm.jpeg
Figures/FigureA4.jpeg
Figures/MAP_Map_rdm.jpeg
Figures/pHMap_rdm.jpeg
Figures/WRB_SSA_14C_sum.xlsx
Investigate.html
Figures/AfSIS_14C_FigureA5.jpeg
